<template>
  <div class="home flex flex-column">
    <div class="home-img"></div>
    <div class="home-tittle">
      <h1>Humberto Domizi</h1>
    </div>
    <div class="wrapper">
      <div class="static-txt">
        <p>I'm a</p>
      </div>
      <ul class="dynamic-txt">
        <li><span>Fullstack Developer</span></li>
        <li><span>Music Producer</span></li>
        <li><span>Singer & Guitarist</span></li>
        <li><span>English student</span></li>
      </ul>
    </div>
    <div class="icons flex">
      <a href="https://gitlab.com/luchodomizi" target="_blank"
        ><i class="fa-brands fa-gitlab"></i
      ></a>
      <a href="https://www.linkedin.com/in/humbertodomizi/" target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://www.instagram.com/luchodomizi" target="_blank"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://www.instagram.com/thecopeband" target="_blank"
        ><i class="fa-solid fa-music"></i
      ></a>
      <a href="mailto:luchodomizi@gmail.com" target="_blank"
        ><i class="fa-solid fa-paper-plane"></i
      ></a>
    </div>
    <div class="social-media"></div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {},
};
</script>

<style lang="scss" scoped>
.home {
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  @media (max-width: 450px) {
    height: 80vh;
  }

  @media (max-width: 300px) {
    margin-right: 10px;
  }

  .home-img {
    background-image: url("../assets/me.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: -21px -12px 35px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -21px -12px 35px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -21px -12px 35px -8px rgba(0, 0, 0, 0.75);
    border: 2px solid var(--grey);

    @media (max-width: 768px) {
      height: 170px;
      width: 170px;
    }
  }

  h1 {
    text-align: center;
    font-family: "Source Code Pro", monospace;
    font-weight: normal;
    font-size: 3rem;
    color: var(--soft-yellow);

    @media (max-width: 768px) {
      font-size: 2.5rem;
    }
  }
}

.wrapper {
  color: var(--soft-red);
  display: inline-flex;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
  }

  .static-txt {
    margin-top: 10px;
  }

  .dynamic-txt {
    color: var(--soft-yellow);
    margin-left: 15px;
    height: 35px;
    line-height: 35px;
    overflow: hidden;

    li {
      list-style: none;
      position: relative;
      top: 0;
      animation: slide 8s steps(4) infinite;

      @keyframes slide {
        100% {
          top: -138px;
        }
      }

      span {
        position: relative;
      }

      span::after {
        content: "";
        position: absolute;
        top: -1px;
        left: 0;
        background: var(--background);
        height: 120%;
        width: 100%;
        border-left: 3px solid var(--soft-yellow);
        animation: typing 2s steps(21) infinite;
      }

      @keyframes typing {
        100% {
          left: 100%;
          margin: 0 -10px 0 10px;
        }
      }
    }
  }
}

.icons {
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 24px;
  gap: 1.5rem;

  a {
    text-decoration: none;
    color: var(--soft-yellow);
    transition: 0.5s ease all;

    &:hover {
      color: var(--soft-red);
    }
  }
}
</style>