<template>
  <div class="portfolio flex flex-column">
    <DynamicTxt :commentary="'Get all his work'" :print="'portfolio'" />

    <div class="grid">
      <div class="card card2">
        <div class="border">
          <div class="titles">
            <h2>Music Theory App</h2>
            <h3>Vanilla JS</h3>
          </div>
          <div class="icons">
            <ul class="flex flex-column">
              <li>
                <a
                  href="https://gitlab.com/luchodomizi/music-theory-app"
                  target="_blank"
                  ><i class="fa-brands fa-gitlab"></i
                ></a>
              </li>
              <li>
                <a href="https://musictheoryapp.netlify.app/" target="_blank"
                  ><i class="fa-regular fa-eye"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card card0">
        <div class="border">
          <div class="titles">
            <h2>Dercomaq.cl</h2>
            <h3>React | Next JS</h3>
          </div>
          <div class="icons">
            <ul class="flex flex-column">
              <li></li>
              <li>
                <a href="https://www.dercomaq.cl/" target="_blank"
                  ><i class="fa-regular fa-eye"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card card1">
        <div class="border">
          <div class="titles">
            <h2>This Website</h2>
            <h3>Vue / SCSS</h3>
          </div>
          <div class="icons">
            <ul class="flex flex-column">
              <li></li>
              <li>
                <a href="https://gitlab.com/luchodomizi/my-web" target="_blank"
                  ><i class="fa-brands fa-gitlab"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card card3">
        <div class="border">
          <div class="titles">
            <h2>API Rest</h2>
            <h3>Laravel</h3>
          </div>
          <div class="icons">
            <ul class="flex flex-column">
              <li>
                <a
                  href="https://gitlab.com/luchodomizi/endpoint-api-soho"
                  target="_blank"
                  ><i class="fa-brands fa-gitlab"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card card4">
        <div class="border">
          <div class="titles">
            <h2>Frontend to get API</h2>
            <h3>Vue</h3>
          </div>
          <div class="icons">
            <ul class="flex flex-column">
              <li>
                <a
                  href="https://gitlab.com/luchodomizi/front-vue-soho"
                  target="_blank"
                  ><i class="fa-brands fa-gitlab"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card card5">
        <div class="border">
          <div class="titles">
            <h2>My band Website</h2>
            <h3>Javascript / Bootstrap</h3>
          </div>
          <div class="icons">
            <ul class="flex flex-column">
              <li>
                <a
                  href="https://gitlab.com/luchodomizi/cope-band"
                  target="_blank"
                  ><i class="fa-brands fa-gitlab"></i
                ></a>
              </li>
              <li>
                <a href="https://thecopeband.netlify.app/" target="_blank"
                  ><i class="fa-regular fa-eye"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DynamicTxt from "../components/DynamicTxt.vue";
export default {
  components: {
    DynamicTxt,
  },
};
</script>

<style lang="scss" scoped>
.portfolio {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  @media (max-width: 350px) {
    margin-right: 10px;
    width: 74.5%;
  }
}

.grid {
  height: 600px;
  width: 100%;
  max-width: 1300px;
  margin: 2rem auto;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  animation-delay: 1.5s;

  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
  }
}

.border {
  height: 100%;
  width: 100%;
  background: transparent;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 900px) {
    flex-direction: row;
  }

  .icons {
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      gap: 1rem;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      height: 100%;
      list-style: none;

      a {
        text-decoration: none;
        color: var(--sql);
        font-size: 25px;
        transition: 0.3s ease all;

        @media (max-width: 900px) {
          font-size: 28px;
          color: var(--soft-yellow);
        }

        &:hover {
          color: var(--soft-red);
        }
      }
    }

    @media (max-width: 900px) {
      height: 100%;
    }
  }

  h2 {
    color: var(--soft-yellow);
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
  }
  h3 {
    color: var(--soft-red);
    margin: 20px;
  }

  .fa {
    opacity: 0;
    transition: opacity 1s;
  }

  @media (max-width: 420px) {
    h2 {
      font-size: 22px;
    }

    h3 {
      margin: 0 20px;
      font-size: 22px;
    }
  }
}

.card {
  height: 100%;
  width: 100%;
  background: grey;
  border-radius: 5px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  @media (max-width: 900px) {
    border-radius: 10px !important;
  }
}

.card0 {
  border-radius: 20px 5px 5px 5px;
  grid-column: 1/3;
  grid-row: 1/4;
  background: url("../assets/task.jpg") center center no-repeat;
  background-size: 130%;

  @media (max-width: 900px) {
    background: url("../assets/dercomaq-mobile.jpg") center center no-repeat;
    background-size: 100%;
    background-position-y: 25%;
  }

  &:hover {
    background: url("../assets/task.jpg") right center no-repeat;
    background-size: 600px;

    @media (max-width: 900px) {
      background-size: 110%;
    }
  }
  ul {
    li {
      @media (max-width: 900px) {
        a {
          i {
            color: var(--brown);
          }
        }
      }

      width: 31px !important;
      height: 31px !important;
    }
  }

  h2 {
    opacity: 1;
  }

  .fa {
    opacity: 1;
  }
}

.card1 {
  border-radius: 5px 20px 5px 5px;
  grid-column: 3/6;
  grid-row: 1/2;
  background: url("../assets/invoice.jpg") center center no-repeat;
  background-size: 100%;

  &:hover {
    background: url("../assets/invoice.jpg") left center no-repeat;
    background-size: 900px;

    @media (max-width: 900px) {
      background-size: 110%;
    }
  }

  h2 {
    opacity: 1;
  }

  .fa {
    opacity: 1;
  }

  .border {
    flex-direction: row;

    .icons {
      margin-right: 1rem;

      @media (max-width: 900px) {
        margin-right: 0;
      }

      ul {
        flex-direction: row;
        gap: 1rem;

        @media (max-width: 900px) {
          flex-direction: column;
          margin-left: 0;
          li {
            width: 31px !important;
            height: 31px !important;
          }
        }
      }
    }
  }
}

.card2 {
  border-radius: 5px 5px 5px 20px;
  grid-column: 1/3;
  grid-row: 4/5;
  background: url("../assets/musicapp.jpg") right center no-repeat;
  background-size: 100%;

  &:hover {
    background: url("../assets/musicapp.jpg") left center no-repeat;
    background-size: 600px;

    @media (max-width: 900px) {
      background-size: 110%;
    }
  }

  h2 {
    opacity: 1;
  }

  .fa {
    opacity: 1;
  }

  .border {
    flex-direction: row;

    .icons {
      margin-right: 1rem;

      @media (max-width: 900px) {
        margin-right: 0;
      }

      ul {
        flex-direction: row;
        gap: 1rem;
        height: 30%;

        @media (max-width: 900px) {
          flex-direction: column;
          height: 100%;
          li {
            width: 31px !important;
            height: 31px !important;
          }
        }
      }
    }
  }
}

.card3 {
  border-radius: 5px 20px 20px 5px;
  grid-column: 3/4;
  grid-row: 2/5;
  background: url("../assets/yin.jpg") right center no-repeat;
  background-size: 500px;

  @media (max-width: 900px) {
    background-size: 100%;
  }

  &:hover {
    background: url("../assets/yin.jpg") right center no-repeat;
    background-size: 550px;

    @media (max-width: 900px) {
      background-size: 110%;
    }
  }

  h2 {
    opacity: 1;
    color: var(--brown);

    @media (max-width: 900px) {
      color: var(--soft-yellow);
    }
  }

  .fa {
    opacity: 1;
  }

  .border {
    @media (max-width: 900px) {
      flex-direction: row;
    }

    .icons {
      ul {
        justify-content: flex-end;
        margin-bottom: 0.8rem;

        @media (max-width: 900px) {
          margin: 0 !important;
          a {
            font-weight: bold;
            color: var(--brown);
          }
          li {
            width: 31px !important;
            height: 31px !important;
          }
        }
      }
    }
  }
}

.card4 {
  border-radius: 20px 5px 5px 20px;
  grid-column: 4/5;
  grid-row: 2/5;
  background: url("../assets/yang.jpg") left center no-repeat;
  background-size: 500px;

  @media (max-width: 900px) {
    background-size: 100%;
  }

  &:hover {
    background: url("../assets/yang.jpg") left center no-repeat;
    background-size: 550px;

    @media (max-width: 900px) {
      background-size: 110%;
    }
  }

  h2 {
    color: var(--brown);
    opacity: 1;

    @media (max-width: 900px) {
      color: var(--brown);
    }
  }

  .fa {
    opacity: 1;
  }

  .border {
    @media (max-width: 900px) {
      flex-direction: row;
    }

    .icons {
      ul {
        justify-content: flex-end;
        margin-bottom: 0.8rem;

        @media (max-width: 900px) {
          margin: 0;
          a {
            font-weight: bold;
            color: var(--soft-yellow);
          }
          li {
            width: 31px !important;
            height: 31px !important;
          }
        }
      }
    }
  }
}

.card5 {
  border-radius: 5px 5px 20px 5px;
  grid-column: 5/6;
  grid-row: 2/5;
  background: url("../assets/cope.webp") top center no-repeat;
  background-size: 320px;

  @media (max-width: 900px) {
    background-position: top;
    background-size: 100%;
  }

  &:hover {
    background: url("../assets/cope.webp") top center no-repeat;
    background-size: 350px;

    @media (max-width: 900px) {
      background-size: 110%;
    }
  }

  h2 {
    opacity: 1;
  }

  .fa {
    opacity: 1;
  }
}
.titles{
  h3{
    font-size: 22px;
  }
  backdrop-filter: blur(2px);
}
</style>