<template>
  <div class="profile-content flex flex-column">
    <DynamicTxt :commentary="'Printing all data'" :print="'info'" />

    <div class="profile">
      <div class="resume">
        <p>
          Soy un entusiasta del desarrollo web y la música que siempre se
          esfuerza por mejorar. Creo que cada día es una oportunidad. Trabajé en
          diferentes campos, he cursado y me especialicé para trabajar en el
          campo que más me gusta. Actualmente trabajo como desarrollador
          FullStack en Soho Chile y estoy desarrollando mi propia aplicación
          escalable de teoría musical.
        </p>
      </div>
      <Skillsbar />
      <div class="cv">
        <div class="flex flex-column">
          <ul>
            <li>
              <a
                href="https://drive.google.com/file/d/1Yg9DOq9NIBKQGn5Nic8C2SRqjUd8ae8R/view?usp=sharing"
                target="blank"
                >Descarga mi CV</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Skillsbar from "../components/Skillsbar.vue";
import DynamicTxt from "../components/DynamicTxt.vue";

export default {
  components: {
    Skillsbar,
    DynamicTxt,
  },
};
</script>

<style lang="scss" scoped>
.profile-content {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  @media (max-width: 450px) {
    margin-top: 0!important;
  }
}

.profile {
  display: grid;
  height: 58%;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
  gap: 10px;
  margin: 3rem auto;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  animation-delay: 1.5s;

  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 1rem;
  }

  .resume {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: justify;
    background-color: var(--blue);
    color: var(--soft-yellow);
    border-radius: 20px 60px 20px 60px;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 1rem;
    height: 100%;
    line-height: 32px;
    box-shadow: -21px -12px 35px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -21px -12px 35px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -21px -12px 35px -8px rgba(0, 0, 0, 0.75);

    @media (max-width: 450px) {
      line-height: 28px;
      text-align: left;
    }
  }

  .cv {
    font-family: "Source Code Pro", monospace;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: auto auto;
    height: 50px;
    width: 220px;
    background: var(--soft-red);
    border-radius: 20px 10px 20px 10px;
    transition: 0.5s ease all;

    @media (max-width: 450px) {
      height: 45px;
      width: 180px;
    }

    &:hover {
      background: #a5302a;
    }

    ul {
      list-style: none;
    }

    a {
      display: block;
      padding: 0.6rem;
      cursor: pointer;
      font-size: 22px;
      text-decoration: none;
      color: var(--soft-yellow);
      border: none;

      @media (max-width: 450px) {
        font-size: 18px;
      }
    }
  }

  .skills-bar {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  @media (max-width: 300px) {
    margin-right: 10px;
  }
}
</style>