<template>
  <div class="profile-title flex flex-column">
    <h3>//{{ commentary }}</h3>
    <ul class="dynamic-txt">
      <li>
        <h2>
          <span>print</span>(<span>this.</span><span>{{ print }}</span
          >)
        </h2>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    commentary: "",
    print: "",
  },
};
</script>

<style lang="scss" scoped>
.profile-title {
  margin-top: 6rem;
  justify-content: center;
  font-size: 24px;
  font-family: "Source Code Pro", monospace;

  @media (max-width: 450px) {
    margin-top: 0!important;
  }
  

  h3 {
    color: var(--grey);
    opacity: 0;
    animation: showText 0.5s 0.5s linear forwards;
  }

  @keyframes showText {
    100% {
      opacity: 1;
    }
  }

  h2 {
    color: var(--white);

    span:nth-child(1) {
      color: var(--react);
    }

    span:nth-child(2) {
      color: var(--soft-red);
    }

    span:nth-child(3) {
      color: var(--soft-yellow);
    }
  }
  @media (max-width: 900px) {
    margin-top: 1.5rem;
  }

  @media (max-width: 550px) {
    margin-top: 2rem;

    h3 {
      font-size: 18px;
    }

    h2 {
      font-size: 22px;
    }
  }

  @media (max-width: 330px) {
    h3 {
      font-size: 14px;
    }

    h2 {
      font-size: 14px;
    }
  }

  .dynamic-txt {
    display: inline-flex;
    height: 35px;
    line-height: 30px;
    overflow: hidden;

    li {
      list-style: none;
      position: relative;
      top: 0;
      animation: slide 8s steps(1) infinite;

      @keyframes slide {
        100% {
          top: -138px;
        }
      }

      h2 {
        position: relative;
      }

      h2::after {
        content: "";
        position: absolute;
        left: 0;
        background: var(--background);
        height: 120%;
        width: 100%;
        border-left: 3px solid var(--soft-yellow);
        animation: typing 1s steps(16) forwards;

        @media (max-width: 450px) {
          height: 80%;
          top: 4px;
        }
      }

      @keyframes typing {
        100% {
          left: 100%;
          margin: 0 -10px 0 0;
        }
      }
    }
  }
}
</style>