<template>
  <header :class="{ 'scrolled-nav': scrolledNav }">
    <nav>
      <div v-show="!mobile" class="branding flex flex-column">
        <div class="h-d flex">
          <i class="fa-solid fa-h"></i>
          <i class="fa-solid fa-d"></i>
        </div>
        <i class="fa-solid fa-code"></i>
      </div>
      <ul v-show="!mobile" class="navigation">
        <li>
          <router-link class="link" :to="{ name: 'Home' }"
            ><i class="fa-solid fa-house"></i
          ></router-link>
        </li>
        <li>
          <router-link class="link" :to="{ name: 'Profile' }"
            ><i class="fa-solid fa-user-check"></i>
          </router-link>
        </li>
        <li>
          <router-link class="link" :to="{ name: 'Portfolio' }"
            ><i class="fa-solid fa-folder-open"></i>
          </router-link>
        </li>
      </ul>
      <div v-show="!mobile" class="copyright">
        <p>Humberto Domizi - 2022</p>
      </div>

      <!-- MOBILE -->
      <div class="icon">
        <i
          @click="toggleMobileNav"
          v-show="mobile"
          class="fa fa-bars"
          :class="{ 'icon-active': mobileNav }"
        ></i>
      </div>
      <transition name="mobile-nav">
        <ul v-show="mobileNav" class="dropdown-nav">
          <div v-show="mobile" class="branding flex flex-column">
            <div class="h-d flex">
              <i class="fa-solid fa-h"></i>
              <i class="fa-solid fa-d"></i>
            </div>
            <i class="fa-solid fa-code"></i>
          </div>
          <div class="mobile-icons flex flex-column">
            <li>
              <router-link class="link" :to="{ name: 'Home' }"
                ><i class="fa-solid fa-house"></i>
              </router-link>
            </li>
            <li>
              <router-link class="link" :to="{ name: 'Profile' }"
                ><i class="fa-solid fa-user-check"></i>
              </router-link>
            </li>
            <li>
              <router-link class="link" :to="{ name: 'Portfolio' }"
                ><i class="fa-solid fa-folder-open"></i>
              </router-link>
            </li>
          </div>
          <div v-show="mobile" class="copyright"></div>
        </ul>
      </transition>
    </nav>
  </header>
</template>

<script>
export default {
  name: "navbar",
  data() {
    return {
      mobile: null,
      mobileNav: null,
      windowWidth: null,
    };
  },
  created() {
    window.addEventListener("resize", this.checkScreen);
    this.checkScreen();
  },
  methods: {
    toggleMobileNav() {
      this.mobileNav = !this.mobileNav;
    },

    checkScreen() {
      this.windowWidth = window.innerWidth;
      if (this.windowWidth <= 900) {
        this.mobile = true;
        this.mobileNav = false;

        return;
      }
      this.mobile = false;
      this.mobileNav = false;
      return;
    },
  },
};
</script>

<style lang="scss" scoped>
header {
  background-color: transparent;
  z-index: 99;
  width: 5%;
  height: 100vh;
  transition: 0.5s ease all;
  color: var(--white);


  @media (max-width: 1280px) {
    width: 10%;
  }

  @media (max-width: 768px) {
    width: 15%;
  }

  @media (max-width: 450px) {
    width: 100%;
    height: 10vh;
  }

  nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s ease all;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-right: 0.2px solid var(--grey);
    

    ul {
      display: flex;
      justify-content: center;
      gap: 4rem;
      @media (max-width: 450px) {
        gap: 2rem;
      }

      .router-link-active {
        color: var(--yellow);
      }

      i {
        font-size: 25px;
      }
    }

    ul,
    .link {
      flex-direction: column;
      font-weight: bold;
      color: var(--white);
      list-style: none;
      text-decoration: none;
    }

    .link {
      font-size: 14px;
      transition: 0.5 ease all;
      padding-bottom: 4px;
      border-bottom: 3px solid transparent;
      transition: 0.5s ease all;

      &:hover {
        color: var(--yellow);
      }
    }

    .copyright {
      p {
        color: var(--soft-yellow);
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        padding-top: 25px;
      }
    }

    .branding {
      width: 100%;
      display: flex;
      align-items: center;
      padding-top: 10px;
      gap: 6px;
      color: transparent;
      background-image: linear-gradient(to right, var(--yellow), #db36a4);
      background-clip: text;
      animation: animate 5s linear infinite;
      -webkit-background-size: 500%;
      background-size: 500%;
      transition: 0.5 ease all;

      .h-d {
        margin-top: 1rem;
        gap: 6px;
        font-size: 30px;
        @media (max-width: 450px) {
          margin-top: 0;
        }
      }

      i {
        transition: 0.5s ease all;
      }
    }

    @keyframes animate {
      0% {
        background-position: 0 100%;
      }

      50% {
        background-position: 100% 0;
      }

      100% {
        background-position: 0 100%;
      }
    }

    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 15px;
      left: 85vw;

      i {
        cursor: pointer;
        font-size: 34px;
        transition: 0.8s ease all;
      }
    }

    .icon-active {
      transform: rotate(180deg);
    }

    .dropdown-nav {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      height: 100vh;
      max-width: 250px;

      @media (max-width: 450px) {
        height: 65px;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        position: static;
      }

      li {
        margin-left: 0;
      }

      .copyright {
        font-size: 12px;
        padding-top: 25px;
        @media (max-width: 450px) {
          display: none;
        }
      }

      .branding {
        padding-bottom: 25px;
        @media (max-width: 450px) {
          flex-direction: row;
          padding: 0;
        }
      }
    }

    .mobile-icons {
      gap: 3rem;
      @media (max-width: 450px) {
        flex-direction: row;
        gap: 2rem;
        margin-right: 5rem;
      }
    }

    .mobile-nav-enter-active,
    .mobile-nav-leave-active {
      transition: 1s ease all;
    }

    .mobile-nav-enter-from,
    .mobile-nav-leave-to {
      transform: translateX(-250px);
    }

    .mobile-nav-enter-to {
      transform: translateX(0);
    }
  }
}

@media (max-width: 600px) {
  nav {
    border: none !important;
  }
}
</style>