<template>
  <!-- SKILLS -->
  <div class="skills-bar">
    <div v-for="(skill, index) of skills" :key="index" class="bar">
      <div class="info">
        <span>{{ skill.name }}</span>
      </div>
      <div :className="`${skill.value} progress-line ${skill.bg}`">
        <span></span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      skills: [
        {
          name: "Javascript",
          value: "ten",
          bg: "js",
        },
        {
          name: "React / NextJs",
          value: "nine",
          bg: "react",
        },
        {
          name: "Vue / NuxtJs",
          value: "six",
          bg: "vue",
        },
        {
          name: "Laravel",
          value: "eight",
          bg: "laravel",
        },
        {
          name: "CSS / SASS / Tailwind / Bootstrap",
          value: "nine",
          bg: "css",
        },
        {
          name: "Git",
          value: "eight",
          bg: "git",
        },
        {
          name: "MySQL / PostgreSQL",
          value: "seven",
          bg: "sql",
        },
        {
          name: "Guitar Skills",
          value: "eight",
          bg: "guitar",
        },
        {
          name: "Gaming Skills",
          value: "three",
          bg: "gaming",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.skills-bar {
  font-weight: bold;
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  color: var(--soft-yellow);
  border-radius: 20px 60px 20px 60px;
  padding: 30px 30px;
  box-shadow: 21px -12px 35px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 21px -12px 35px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 21px -12px 35px -8px rgba(0, 0, 0, 0.75);

  .bar {
    margin: 20px 0;

    &:first-child {
      margin-top: 0;
    }

    .info {
      margin-bottom: 5px;

      span {
        opacity: 0;
        animation: showText 0.5s 1s linear forwards;
        animation-delay: 2.5s;
      }

      @keyframes showText {
        100% {
          opacity: 1;
        }
      }
    }

    .progress-line {
      position: relative;
      height: 10px;
      width: 100%;
      border-radius: 10px;
      background: var(--yellow-grey);
      transform: scaleX(0);
      transform-origin: left;
      animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;

      span {
        height: 100%;
        position: absolute;
        border-radius: 10px;
        transform: scaleX(0);
        transform-origin: left;
        animation: animate 0.5s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
        animation-delay: 2s;
      }

      @keyframes animate {
        100% {
          transform: scaleX(1);
        }
      }

      span::before {
        position: absolute;
        content: "";
        top: -10px;
        right: 0;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-top-color: black;
        opacity: 0;
        animation: showText2 0.3s 1.5s linear forwards;
        animation-delay: 2.5s;

        @media (max-width: 450px) {
          display: none;
        }
      }

      span::after {
        position: absolute;
        right: 0;
        top: -25px;
        color: var(--white);
        font-size: 12px;
        font-weight: bold;
        background: var(--brown);
        padding: 2px 8px;
        border-radius: 3px;
        opacity: 0;
        animation: showText2 0.3s 1.5s linear forwards;
        animation-delay: 2.5s;

        @media (max-width: 450px) {
          display: none;
        }
      }

      @keyframes showText2 {
        100% {
          opacity: 1;
        }
      }
    }

    /* TECHNOLOGY KNOWLEDGE */
    .progress-line.one span::after {
      content: "10%";
    }

    .progress-line.two span::after {
      content: "20%";
    }

    .progress-line.three span::after {
      content: "30%";
    }

    .progress-line.four span::after {
      content: "40%";
    }

    .progress-line.five span::after {
      content: "50%";
    }

    .progress-line.six span::after {
      content: "60%";
    }

    .progress-line.seven span::after {
      content: "70%";
    }

    .progress-line.eight span::after {
      content: "80%";
    }

    .progress-line.nine span::after {
      content: "90%";
    }

    .progress-line.ten span::after {
      content: "100%";
    }

    .progress-line.one span {
      width: 10%;
    }

    .progress-line.two span {
      width: 20%;
    }

    .progress-line.three span {
      width: 30%;
    }

    .progress-line.four span {
      width: 40%;
    }

    .progress-line.five span {
      width: 50%;
    }

    .progress-line.six span {
      width: 60%;
    }

    .progress-line.seven span {
      width: 70%;
    }

    .progress-line.eight span {
      width: 80%;
    }

    .progress-line.nine span {
      width: 90%;
    }

    .progress-line.ten span {
      width: 100%;
    }

    /* TECHNOLOGY BAR COLOR */
    .progress-line.js span {
      background: var(--javascript);
    }

    .progress-line.laravel span {
      background: var(--laravel);
    }

    .progress-line.vue span {
      background: var(--vue);
    }

    .progress-line.react span {
      background: var(--react);
    }

    .progress-line.css span {
      background: var(--css);
    }

    .progress-line.git span {
      background: var(--git);
    }

    .progress-line.sql span {
      background: var(--sql);
    }

    .progress-line.firebase span {
      background: var(--firebase);
    }

    .progress-line.guitar span {
      background: var(--guitar);
    }

    .progress-line.gaming span {
      background: var(--gaming);
    }
  }
}
</style>