<template>
  <div class="app">
    <Navbar />
    <router-view v-slot="{ Component, route }">
      <transition
        :enter-active-class="route.meta.enterClass"
        :leave-active-class="route.meta.leaveClass"
        mode="out-in"
      >
        <component :is="Component" />
      </transition>
    </router-view>
  </div>
</template>

<script>
import Navbar from "./components/Navbar";

export default {
  components: {
    Navbar,
  },
};
</script>

<style lang="scss">
.app {
  display: flex;
  @media (max-width: 450px) {
    flex-direction: column;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Graphik-Extralight";
  src: url("./assets/font/Graphik-Extralight.ttf");
  font-style: normal;
  font-weight: normal;
}

:root {
  --green: #02b300;
  --red: #c92c3a;
  --white: #f8f8f8;
  --yellow: #fffb4c;
  --soft-yellow: #fffacd;
  --soft-red: #f55048;
  --grey: #576068;
  --yellow-grey: #ece8c0;
  --background: #273138;
  --brown: #2e2822;
  --soft-brown: #a0856b;
  --blue: #4991a5;

  --javascript: #ead41c;
  --laravel: #e74c41;
  --vue: #61ad77;
  --react: #5ccfee;
  --css: #2b74c8;
  --git: #e76956;
  --sql: #005d84;
  --firebase: #f2c12c;
  --guitar: #e7ac8d;
  --gaming: #4cce83;
}
body {
  font-family: "Graphik-Extralight";
  background-color: var(--background);
}

.vh {
  height: 70vh;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
</style>